In [1]:
import pandas as pd
import numpy as np
import sklearn as skl

In [9]:
df=pd.read_csv('survival.csv',header=0)
df.head()

,encounter_id,patient_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,icu_admit_source,...,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem,Unnamed: 83,hospital_death
0,66154,25312,118,68.0,22.73,0,Caucasian,M,180.3,Floor,...,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular,NaN,0
1,114252,59342,81,77.0,27.42,0,Caucasian,F,160.0,Floor,...,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory,NaN,0
2,119783,50777,118,25.0,31.95,0,Caucasian,F,172.7,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic,NaN,0
3,79267,46918,118,81.0,22.64,1,Caucasian,F,165.1,Operating Room / Recovery,...,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular,NaN,0
4,92056,34377,33,19.0,NaN,0,Caucasian,M,188.0,Accident & Emergency,...,0.0,0.0,0.0,0.0,0.0,0.0,Trauma,Trauma,NaN,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91713 entries, 0 to 91712
Data columns (total 85 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   encounter_id                   91713 non-null  int64
 1   patient_id                     91713 non-null  int64
 2   hospital_id                    91713 non-null  int64
 3   age                            87485 non-null  float64
 4   bmi                            88284 non-null  float64
 5   elective_surgery               91713 non-null  int64
 6   ethnicity                      90318 non-null  object
 7   gender                         91688 non-null  object
 8   height                         90379 non-null  float64
 9   icu_admit_source               91601 non-null  object
 10  icu_id                         91713 non-null  int64
 11  icu_stay_type                  91713 non-null  object
 12  icu_type                       91713 non-null  object
 13  pre_icu_los_days               91713 non-null  float64
 14  weight                         88993 non-null  float64
 15  apache_2_diagnosis             90051 non-null  float64
 16  apache_3j_diagnosis            90612 non-null  float64
 17  apache_post_operative          91713 non-null  int64
 18  arf_apache                     90998 non-null  float64
 19  gcs_eyes_apache                89812 non-null  float64
 20  gcs_motor_apache               89812 non-null  float64
 21  gcs_unable_apache              90676 non-null  float64
 22  gcs_verbal_apache              89812 non-null  float64
 23  heart_rate_apache              90835 non-null  float64
 24  intubated_apache               90998 non-null  float64
 25  map_apache                     90719 non-null  float64
 26  resprate_apache                90479 non-null  float64
 27  temp_apache                    87605 non-null  float64
 28  ventilated_apache              90998 non-null  float64
 29  d1_diasbp_max                  91548 non-null  float64
 30  d1_diasbp_min                  91548 non-null  float64
 31  d1_diasbp_noninvasive_max      90673 non-null  float64
 32  d1_diasbp_noninvasive_min      90673 non-null  float64
 33  d1_heartrate_max               91568 non-null  float64
 34  d1_heartrate_min               91568 non-null  float64
 35  d1_mbp_max                     91493 non-null  float64
 36  d1_mbp_min                     91493 non-null  float64
 37  d1_mbp_noninvasive_max         90234 non-null  float64
 38  d1_mbp_noninvasive_min         90234 non-null  float64
 39  d1_resprate_max                91328 non-null  float64
 40  d1_resprate_min                91328 non-null  float64
 41  d1_spo2_max                    91380 non-null  float64
 42  d1_spo2_min                    91380 non-null  float64
 43  d1_sysbp_max                   91554 non-null  float64
 44  d1_sysbp_min                   91554 non-null  float64
 45  d1_sysbp_noninvasive_max       90686 non-null  float64
 46  d1_sysbp_noninvasive_min       90686 non-null  float64
 47  d1_temp_max                    89389 non-null  float64
 48  d1_temp_min                    89389 non-null  float64
 49  h1_diasbp_max                  88094 non-null  float64
 50  h1_diasbp_min                  88094 non-null  float64
 51  h1_diasbp_noninvasive_max      84363 non-null  float64
 52  h1_diasbp_noninvasive_min      84363 non-null  float64
 53  h1_heartrate_max               88923 non-null  float64
 54  h1_heartrate_min               88923 non-null  float64
 55  h1_mbp_max                     87074 non-null  float64
 56  h1_mbp_min                     87074 non-null  float64
 57  h1_mbp_noninvasive_max         82629 non-null  float64
 58  h1_mbp_noninvasive_min         82629 non-null  float64
 59  h1_resprate_max                87356 non-null  float64
 60  h1_resprate_min                87356 non-null  float64
 61  h1_spo2_max                    87528 non-null  float64
 62  h1_spo2_min                    87528 non-null  float64
 63  h1_sysbp_max                   88102 non-null  float64
 64  h1_sysbp_min                   88102 non-null  float64
 65  h1_sysbp_noninvasive_max       84372 non-null  float64
 66  h1_sysbp_noninvasive_min       84372 non-null  float64
 67  d1_glucose_max                 85906 non-null  float64
 68  d1_glucose_min                 85906 non-null  float64
 69  d1_potassium_max               82128 non-null  float64
 70  d1_potassium_min               82128 non-null  float64
 71  apache_4a_hospital_death_prob  83766 non-null  float64
 72  apache_4a_icu_death_prob       83766 non-null  float64
 73  aids                           90998 non-null  float64
 74  cirrhosis                      90998 non-null  float64
 75  diabetes_mellitus              90998 non-null  float64
 76  hepatic_failure                90998 non-null  float64
 77  immunosuppression              90998 non-null  float64
 78  leukemia                       90998 non-null  float64
 79  lymphoma                       90998 non-null  float64
 80  solid_tumor_with_metastasis    90998 non-null  float64
 81  apache_3j_bodysystem           90051 non-null  object
 82  apache_2_bodysystem            90051 non-null  object
 83  Unnamed: 83                    0 non-null      float64
 84  hospital_death                 91713 non-null  int64
dtypes: float64(71), int64(7), object(7)
memory usage: 59.5+ MB

In [11]:
# Dropping irrelevant columns
df.drop(['encounter_id','patient_id','hospital_id','Unnamed: 83'],inplace=True,axis=1)

In [12]:
df=df.fillna(df.mean()) #Mean imputation for numeric features
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91713 entries, 0 to 91712
Data columns (total 81 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            91713 non-null  float64
 1   bmi                            91713 non-null  float64
 2   elective_surgery               91713 non-null  int64
 3   ethnicity                      90318 non-null  object
 4   gender                         91688 non-null  object
 5   height                         91713 non-null  float64
 6   icu_admit_source               91601 non-null  object
 7   icu_id                         91713 non-null  int64
 8   icu_stay_type                  91713 non-null  object
 9   icu_type                       91713 non-null  object
 10  pre_icu_los_days               91713 non-null  float64
 11  weight                         91713 non-null  float64
 12  apache_2_diagnosis             91713 non-null  float64
 13  apache_3j_diagnosis            91713 non-null  float64
 14  apache_post_operative          91713 non-null  int64
 15  arf_apache                     91713 non-null  float64
 16  gcs_eyes_apache                91713 non-null  float64
 17  gcs_motor_apache               91713 non-null  float64
 18  gcs_unable_apache              91713 non-null  float64
 19  gcs_verbal_apache              91713 non-null  float64
 20  heart_rate_apache              91713 non-null  float64
 21  intubated_apache               91713 non-null  float64
 22  map_apache                     91713 non-null  float64
 23  resprate_apache                91713 non-null  float64
 24  temp_apache                    91713 non-null  float64
 25  ventilated_apache              91713 non-null  float64
 26  d1_diasbp_max                  91713 non-null  float64
 27  d1_diasbp_min                  91713 non-null  float64
 28  d1_diasbp_noninvasive_max      91713 non-null  float64
 29  d1_diasbp_noninvasive_min      91713 non-null  float64
 30  d1_heartrate_max               91713 non-null  float64
 31  d1_heartrate_min               91713 non-null  float64
 32  d1_mbp_max                     91713 non-null  float64
 33  d1_mbp_min                     91713 non-null  float64
 34  d1_mbp_noninvasive_max         91713 non-null  float64
 35  d1_mbp_noninvasive_min         91713 non-null  float64
 36  d1_resprate_max                91713 non-null  float64
 37  d1_resprate_min                91713 non-null  float64
 38  d1_spo2_max                    91713 non-null  float64
 39  d1_spo2_min                    91713 non-null  float64
 40  d1_sysbp_max                   91713 non-null  float64
 41  d1_sysbp_min                   91713 non-null  float64
 42  d1_sysbp_noninvasive_max       91713 non-null  float64
 43  d1_sysbp_noninvasive_min       91713 non-null  float64
 44  d1_temp_max                    91713 non-null  float64
 45  d1_temp_min                    91713 non-null  float64
 46  h1_diasbp_max                  91713 non-null  float64
 47  h1_diasbp_min                  91713 non-null  float64
 48  h1_diasbp_noninvasive_max      91713 non-null  float64
 49  h1_diasbp_noninvasive_min      91713 non-null  float64
 50  h1_heartrate_max               91713 non-null  float64
 51  h1_heartrate_min               91713 non-null  float64
 52  h1_mbp_max                     91713 non-null  float64
 53  h1_mbp_min                     91713 non-null  float64
 54  h1_mbp_noninvasive_max         91713 non-null  float64
 55  h1_mbp_noninvasive_min         91713 non-null  float64
 56  h1_resprate_max                91713 non-null  float64
 57  h1_resprate_min                91713 non-null  float64
 58  h1_spo2_max                    91713 non-null  float64
 59  h1_spo2_min                    91713 non-null  float64
 60  h1_sysbp_max                   91713 non-null  float64
 61  h1_sysbp_min                   91713 non-null  float64
 62  h1_sysbp_noninvasive_max       91713 non-null  float64
 63  h1_sysbp_noninvasive_min       91713 non-null  float64
 64  d1_glucose_max                 91713 non-null  float64
 65  d1_glucose_min                 91713 non-null  float64
 66  d1_potassium_max               91713 non-null  float64
 67  d1_potassium_min               91713 non-null  float64
 68  apache_4a_hospital_death_prob  91713 non-null  float64
 69  apache_4a_icu_death_prob       91713 non-null  float64
 70  aids                           91713 non-null  float64
 71  cirrhosis                      91713 non-null  float64
 72  diabetes_mellitus              91713 non-null  float64
 73  hepatic_failure                91713 non-null  float64
 74  immunosuppression              91713 non-null  float64
 75  leukemia                       91713 non-null  float64
 76  lymphoma                       91713 non-null  float64
 77  solid_tumor_with_metastasis    91713 non-null  float64
 78  apache_3j_bodysystem           90051 non-null  object
 79  apache_2_bodysystem            90051 non-null  object
 80  hospital_death                 91713 non-null  int64
dtypes: float64(70), int64(4), object(7)
memory usage: 56.7+ MB

C:\Users\SUGAM\AppData\Local\Temp/ipykernel_29984/4096371520.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df=df.fillna(df.mean()) #Mean imputation for numeric features

In [33]:
#df.drop(df[df['ethnicity']==""],inplace=True)
#df.info()
new = df[df['ethnicity']==""]
new.head()

Empty DataFrame
Columns: [encounter_id, patient_id, hospital_id, age, bmi, elective_surgery, ethnicity, gender, height, icu_admit_source, icu_id, icu_stay_type, icu_type, pre_icu_los_days, weight, apache_2_diagnosis, apache_3j_diagnosis, apache_post_operative, arf_apache, gcs_eyes_apache, gcs_motor_apache, gcs_unable_apache, gcs_verbal_apache, heart_rate_apache, intubated_apache, map_apache, resprate_apache, temp_apache, ventilated_apache, d1_diasbp_max, d1_diasbp_min, d1_diasbp_noninvasive_max, d1_diasbp_noninvasive_min, d1_heartrate_max, d1_heartrate_min, d1_mbp_max, d1_mbp_min, d1_mbp_noninvasive_max, d1_mbp_noninvasive_min, d1_resprate_max, d1_resprate_min, d1_spo2_max, d1_spo2_min, d1_sysbp_max, d1_sysbp_min, d1_sysbp_noninvasive_max, d1_sysbp_noninvasive_min, d1_temp_max, d1_temp_min, h1_diasbp_max, h1_diasbp_min, h1_diasbp_noninvasive_max, h1_diasbp_noninvasive_min, h1_heartrate_max, h1_heartrate_min, h1_mbp_max, h1_mbp_min, h1_mbp_noninvasive_max, h1_mbp_noninvasive_min, h1_resprate_max, h1_resprate_min, h1_spo2_max, h1_spo2_min, h1_sysbp_max, h1_sysbp_min, h1_sysbp_noninvasive_max, h1_sysbp_noninvasive_min, d1_glucose_max, d1_glucose_min, d1_potassium_max, d1_potassium_min, apache_4a_hospital_death_prob, apache_4a_icu_death_prob, aids, cirrhosis, diabetes_mellitus, hepatic_failure, immunosuppression, leukemia, lymphoma, solid_tumor_with_metastasis, apache_3j_bodysystem, apache_2_bodysystem, Unnamed: 83, hospital_death]
Index: []

[0 rows x 85 columns]

In [24]:
df.describe()

,encounter_id,patient_id,hospital_id,age,bmi,elective_surgery,height,icu_id,pre_icu_los_days,weight,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,Unnamed: 83,hospital_death
count,91713.000000,91713.000000,91713.000000,91713.000000,91713.000000,91713.000000,91713.000000,91713.000000,91713.000000,91713.000000,...,91713.000000,91713.000000,91713.000000,91713.000000,91713.000000,91713.000000,91713.000000,91713.000000,0.0,91713.000000
mean,65606.079280,65537.131464,105.669262,62.309516,29.185818,0.183736,169.641588,508.357692,0.835766,84.028340,...,0.000857,0.015693,0.225192,0.012989,0.026165,0.007066,0.004132,0.020638,NaN,0.086302
std,37795.088538,37811.252183,62.854406,16.383883,8.118970,0.387271,10.716578,228.989661,2.487756,24.637809,...,0.029151,0.123799,0.416079,0.112786,0.159004,0.083436,0.063897,0.141614,NaN,0.280811
min,1.000000,1.000000,2.000000,16.000000,14.844926,0.000000,137.200000,82.000000,-24.947222,38.600000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
25%,32852.000000,32830.000000,47.000000,53.000000,23.787760,0.000000,162.560000,369.000000,0.035417,67.300000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
50%,65665.000000,65413.000000,109.000000,64.000000,28.007812,0.000000,170.000000,504.000000,0.138889,81.400000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
75%,98342.000000,98298.000000,161.000000,75.000000,32.653061,0.000000,177.800000,679.000000,0.409028,96.300000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
max,131051.000000,131051.000000,204.000000,89.000000,67.814990,1.000000,195.590000,927.000000,159.090972,186.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,1.000000